{% extends "home/base.html" %}
{% load staticfiles %}

{% block page_title %}
Codeforces Performance Analysis
{% endblock %}

{% block content %}
    <style>
      #loader {
        display: none;
        width: 200px;
        height: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-100px, -100px);
        background: white;
        opacity: 0.7
      }
    </style>
    <div id="loader">Loading...</div>
    <h2> Codeforces perforamnce analysis </h2>
    <form>
      {% csrf_token %}
      {{ form.as_table }}
      <input id="submit" type='submit' value='submit' />
    </form>

    <div class="results">

    </div>

{% endblock %}


{% block javascript %}
<script src={% static "js/script.js" %}></script>
{% endblock %}
